<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/obstruction/src/robbeloth/research/ProjectController.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="robbeloth.research.ProjectController"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="debugFile=/media/projects/temp/offanglecorvettep1.log  plplot.libdir=/usr/local/plplot/lib/jni --find_match /media/projects/obstruction/data/IMG_3816_corvette_offangle_partial-2_fixed.jpg"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="obstruction"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms4096m&#10;-Xmx28662m&#10;-XX:+UseSerialGC&#10;-XX:+HeapDumpOnOutOfMemoryError&#10;-XX:+UseSerialGC&#10;-XX:+HeapDumpOnOutOfMemoryError"/>
</launchConfiguration>
